<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>FitchRatingsAPI</display-name>

    <welcome-file-list> <welcome-file>login.html</welcome-file> </welcome-file-list>

    <!-- Following context-param are added due to Jboss has its own restEasy
        settings.
        -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>jerseySerlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <!-- <init-param> <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.fitch.navigator.intr.resource</param-value> </init-param>
            <init-param> <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value> </init-param> -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jerseySerlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
        <!-- <url-pattern>/*</url-pattern> -->
    </servlet-mapping>

</web-app>